*{
    margin: 0;
    padding: 0;
}

.container{
    color: aliceblue;
    background-color: #454545;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cal-box{
    width: 280px;
    height: 500px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgb(255, 255, 255);
    padding: 15px;
    cursor: pointer;
}
.result-container{
    border: 2px white solid;
    height: 150px;
    width: 90%;
    background-color: indigo;
    font-size: 25px;
    padding: 10px;
    margin: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    border-radius: 10px;
}
.input-screen{
    margin: 5px;
    font-size: 50px;
}

.cal-pad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 380px;
    padding: 5px;
}
.num-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.num-key{
    height: 40px;
    width: 35x;
    padding: 23px;
    margin: 0px;
    font-size: 30px;
}
.op-key{
    height: 40px;
    width: 35x;
    padding: 17px;
    margin: 0px;
    font-size: 30px;
}
#clr{
    font-size: 25px;
}
.cal-op{
    background-color: #4545;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-radius: 25px;
}
.cal-num{
    /* background-color: #4545; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}